

.navbar {
    background-image: var(--primary-gradient);
    border-radius: 0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .05);
    margin-bottom: 0;
    padding: 20px 30px;
    position: relative;
    z-index: 1000;
}

.navbar .navbar-brand {
    font-size: x-large;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-list {
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
}


.navbar-list li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.navbar-list li a {
    display: inline-block;
    color: white;
    text-decoration: none;
}

.navbar-list li a:hover{
    color: var(--complementary-color);
}

.navbar-list li a:hover .navbar-icon {
    fill: var(--complementary-color);
}

.navbar-icon {
    width: 30px;
    height: 30px;
    margin: 0px 5px;
    transition: 0.3s;
    fill: white;
}

/* Individual Element */
#cart-link {
    text-decoration: none;
    position: relative;
}

#cart-link p{
    position: absolute;
    bottom:0;
    left: 0;
    background-color: white;
    padding: 2px 5px;
    border-radius: 50%;
    color: var(--primary-color)
}